[submodule "external/zydis"]
	path = external/zydis
	url = https://github.com/zyantific/zydis
[submodule "external/safetyhook"]
	path = external/safetyhook
	url = https://github.com/cursey/safetyhook
[submodule "external/mINI"]
	path = external/mINI
	url = https://github.com/metayeti/mINI
